.size1 {font-size:xx-small;}
.size2 {font-size: x-small; }
.size3 {font-size: small; }
.size4 {font-size: medium; }
.size5 {font-size: large; }
.size6 {font-size: x-large; }
.size7 {font-size: xx-large; }
